<h2 class="text-center text-2xl font-semibold py-2">
    Create a Post
</h2>

<form method="POST" action="">
    <div>
        <label for="title">Title: </label>
        <input class="border-2 rounded-sm border-black mb-2" type="text" name="title" value="">
    </div>
    <div>
        <label for="content">Content:</label><br />
        <textarea class="border-2 rounded-sm border-black" name="content" rows="8" cols="64"></textarea>
    </div>
    <div>
        <input class="border-2 rounded-sm border-black p-1 bg-slate-200 hover:bg-slate-300" type="submit" value="Create Post">
    </div>
</form>