<h2 class="text-center text-2xl font-semibold py-2">
    Newsstand
</h2>

<a href="/news/add">
    <div class="block bg-slate-600 text-center text-white hover:bg-slate-500">
        Write a news article
    </div>
<a>

<div class="p-4">
    <p class="font-medium pb-2">
        Post Title
    </p>

    <ol>
        {{#each articles}}
        <li><a class="hover:font-medium" href="/news/{{slug}}">{{title}}<a></li>
        {{/each}}
    </ol>
</div>

<form method="GET" action="/news">
    <label for="searchQuery">Search: </label>
    <input class="border-2 rounded-sm border-black" type="text" name="searchQuery" value="">
    <input class="border-2 rounded-sm border-black p-1 bg-slate-200 hover:bg-slate-300" type="submit" value="search">
</form>