<h1 class="centering">
    Techonology Forum
<h1>

<h2 class="centering">
    User Posts
</h2>

<a href="posts/add">
    <div class="button">
        Write a post
    </div>
<a>

<ol>
    {{#each posts}}
    <li><a href="/posts/{{slug}}">{{title}}<a></li>
    {{/each}}
</ol>