<h1 class="centering">
    Techonology Forum
<h1>

<h2 class="centering">
    {{requestedPost.title}}
</h2>

<h3 class="centering">
    written by: {{requestedPost.writtenBy.username}}
</h3>

<div class="text-float-right">
    Uploaded at: {{ uploadedTime }}
</div>

<br /> <br />

<div class="content">
    {{requestedPost.content}}
</div>