<h2 class="text-center text-2xl font-semibold py-2">
    Title: {{requestedPost.title}}
</h2>

<h3 class="text-center text-lg">
    written by: {{requestedPost.writtenBy.username}}
</h3>

<div class="float-right pr-4">
    Uploaded at: {{ uploadedTime }}
</div>

<br /> <br />

<div class="px-20 text-sm">
    {{requestedPost.content}}
</div>