<h1 class="centering">
    Techonology Forum
<h1>

<h2 class="centering">
    Register
</h2>

<form method="POST" action="register">
    <div>
        <label for="email">Your email: </label>
        <input type="email" required name="email" value="">      
    </div>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" value="">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" value="">      
    </div>
    <div>
        <input type="submit" value="login">
    </div>
</form>